# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Database
*.db

# FAISS
backend/vector_db/

# IDE
.vscode/
.idea/

# Environment
.env
hfvenv/

# Streamlit
.streamlit/.python-version
hf-deploy/
